@font-face {
    font-family: 'Steven Spielberg';
    src: url('../fonts/Steven Spielberg/Adventure.otf') format('truetype');
}

@font-face {
    font-family: 'Georges Romero';
    src: url('../fonts/Georges Romero/BewareoftheZombies.ttf') format('truetype');
}

@font-face {
    font-family: 'Tim Burton';
    src: url('../fonts/Tim Burton/Alice_in_Wonderland_3.ttf') format('truetype');
}

@font-face {
    font-family: 'Michael Bay';
    src: url('../fonts/Michael Bay/Megatron.otf') format('truetype');
}

@font-face {
    font-family: 'Stanley Kubrick';
    src: url('../fonts/Stanley Kubrick/antilles.ttf') format('truetype');
}

@font-face {
    font-family: 'Georges Lucas';
    src: url('../fonts/Georges Lucas/Starjedi.ttf') format('truetype');
}

@font-face {
    font-family: 'Jeffrey Jacob Abrams';
    src: url('../fonts/Abrams/DINTrek.ttf') format('truetype');
}

@font-face {
    font-family: 'Ridley Scott';
    src: url('../fonts/Ridley Scott/BladeRunnerMovieFont.TTF') format('truetype');
}

@font-face {
    font-family: 'James Cameron';
    font-size: 30px;
    src: url('../fonts/James Cameron/PAPYRUS.ttf') format('truetype');
}

@font-face {
    font-family: 'Luc Besson';
    src: url('../fonts/Luc Besson/StarTrekEnterpriseFuture.ttf') format('truetype');
}

/* A VOUS DE CONTINUER ! */

#preview {
    font-size: 30px;
    cursor: move;
    color: #eee;
}