@font-face {
    font-family: 'Steven Spielberg';
    src: url('../fonts/Steven Spielberg/Adventure.otf') format('truetype');
}

@font-face {
    font-family: 'Georges Romero';
    src: url('../fonts/Georges Romero/LaNuitDesMortsVivants.ttf') format('truetype');
}

@font-face {
    font-family: 'Tim Burton';
    src: url('../fonts/Tim Burton/AliceInWonderland.ttf') format('truetype');
}

@font-face {
    font-family: 'Michael Bay';
    src: url('../fonts/Michael Bay/Transformers.otf') format('truetype');
}

@font-face {
    font-family: 'Stanley Kubrick';
    src: url('../fonts/Stanley Kubrick/FullMetalJacket.ttf') format('truetype');
}

@font-face {
    font-family: 'Georges Lucas';
    src: url('../fonts/Georges Lucas/StarWars.ttf') format('truetype');
}

@font-face {
    font-family: 'J.J. Abrams';
    src: url('../fonts/J.J. Abrams/StarTrek.ttf) format('truetype');
}

@font-face {
    font-family: 'Ridley Scott';
    src: url('../fonts/Ridley Scott/BladeRunner.ttf') format('truetype');
}

@font-face {
    font-family: 'James Cameron';
    src: url('../fonts/James Cameron/Terminator.ttf') format('truetype');
}

@font-face {
    font-family: 'Luc Besson';k
    src: url('../fonts/Luc Besson/#######') format('truetype');
}

/* A VOUS DE CONTINUER ! */

#preview {
    font-size: 40px;
    cursor: move;
    color: #eee;
}